apipkg==1.5
attrs==20.3.0
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
execnet==1.7.1
fastapi==0.61.1
fp-types==1.0.3
h11==0.11.0
idna==2.10
iniconfig==1.1.1
mongoengine==0.20.0
packaging==20.7
pluggy==0.13.1
py==1.9.0
pydantic==1.7.3
pymongo==3.11.2
pyparsing==2.4.7
pytest==6.1.1
pytest-asyncio==0.14.0
pytest-forked==1.3.0
pytest-xdist==2.1.0
requests==2.25.0
starlette==0.13.6
toml==0.10.2
urllib3==1.26.2
uvicorn==0.12.1
uvloop==0.14.0
